/* add fonts */
    
    :root {
    --background-gradient-color1: #B3FFFC;
    --background-gradient-color2: #80B3D1;
    --text-color: #000000;
    --aries-color: #FFAEAE;
    --taurus-color: #FFD4AE;
    --gemini-color: #FFECAE;
    --cancer-color: #EFFFAE;
    --leo-color: #CAFFAD;
    --virgo-color: #ADFFB4;
    --libra-color: #ADFFF1;
    --scorpio-color: #ADF3FF;
    --sagittarius-color: #ADD6FF;
    --capricorn-color: #ADB7FF;
    --aquarius-color: #CEADFF;
    --pisces-color: #E9ADFF;

    --rhythm: 1rem;
    --base-font-size: 24px;
    --spacing-unit: 1rem;
}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, var(--background-gradient-color1), var(--background-gradient-color2));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

h1 {
    padding: 0rem;
    align-items: center;
    text-align: center;
}

h2 {
    padding: 0rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.help-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 1rem;
}

.help-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.directions-and-help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  }

/* Centering the grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .1rem;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 1rem auto;
}

/* Centering images */
.image-link {
    width: 100%;
    max-width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
    border-radius: 10px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem .2rem;
}

.image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.button {
    cursor: pointer;
  }

/* Center the dob form */
#dob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    border-radius: 8px;
    max-width: 400px;
}

.general-button {
    background-color: #ffffff;
    padding: .2rem;
    border-radius: 3px;
    border-width: 1px;
}

/* Hide zodiac */
#zodiac-container {
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#zodiac-img {
    display: block;
    max-width: 100%;
    height: auto;
}
